#menu {
    position: absolute;
    width: 100%;
    padding-left: 5.55555555556vw;
    padding-right: 3.42375vw;
    height: 68.3333333333vw;
    z-index: 5;
    left: 0;
    /*background-color: rgba(203, 215, 255);*/
    background: linear-gradient(180deg, rgba(134, 162, 255, 0.2) 0%, rgba(134, 162, 255, 0.8) 100%);
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.noActive {
    max-height: 0;
}

.active {
    max-height: 70vw;
}

.menuBtn {
    display: none;
    z-index: 6;
}

#div {
    margin: 1.5625vw 0;
}

.a {
    font-family: var(--font-ablation);
    font-size: 3.33333333333vw;
    line-height: 1.3;
    font-weight: 900;
    color: rgba(62, 69, 108, 1);
}

#nav {
    /*margin-top: 21.9444444444vw;*/
    /*height: 39.7222222222vw;*/
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 6.66666666667vw;
    align-self: end;
    font-size: 3.33333vw;
    line-height: 1.3;
}


#btns_sec {
    grid-column-end: -1;
    /*width: 2vw;*/
    justify-self: end;
}

.lan_btn {
    /*margin-left: 6.61458333vw;*/
    /*grid-column-end: -1;*/
    width: 2vw;
    /*justify-self: end;*/
}

.lan_btn > svg {
    width: 1.97916666667vw;
    height: 1.875vw;
}

@media only screen and (max-width: 1366px) {
    .mobileMenuWrapper {

    }

    .active {
        max-height: 100vw;
    }

    #nav {
        padding-bottom: 4.16666666667vw;
    }

    .navLinkBtn {
        background: none;
        border: none;
        text-align: start;
    }

    .navLinksWrapper1 {
        margin-left: 2vw;
    }

    .navLinksWrapper {
        transform: scaleY(0);
        max-height: 0;
        /*overflow: hidden;*/
        transition: max-height 0.4s ease-in-out, transform 0.4s ease-in-out;
        transform-origin: 0 0;
        display: flex;
        flex-direction: column;
    }

    .navLinksWrapper br {
        /*display: none;*/
    }

    .navLinksWrapperOpen {
        transform: scaleY(1);
        max-height: 15vw;
    }

    .navLinksWrapperClose {
        /*height: 0;*/
        transition: max-height 0.4s ease-in-out
    }

    .navLinksWrapperOpen br {
        display: unset;
    }

    .a {
        font-size: 1.5625vw;
        color: white;
    }

    #menu {
        width: 37.890625vw;
        left: unset;
        right: 0;
        /*height: 39.9739583333vw;*/
        padding-left: 4.6875vw;
        padding-right: 3.15vw;
        background: linear-gradient(180deg, rgba(134, 162, 255, 0.2) 0%, rgba(134, 162, 255, 0.8) 100%);
        border-radius: 0px 0px 1.953125vw 1.953125vw;
        backdrop-filter: blur(35px);
        height: unset;
    }

    .menuNavInternalNavlinkWrapper {
        display: flex;
        gap: 1.5625vw;
    }

    .menuPortalBtns {
        display: flex;
        justify-content: end;
        gap: 1.69270833333vw;
        margin-top: 4vw;
    }

    .menuPortalLanBtn {
        width: 3.125vw;
    }

    .lan_btn {
        display: none;
    }

    .lan_btn > svg {
        width: 3.125vw;
        height: 3.125vw;
    }

    .menuBtn {
        display: block;
        background: none;
        border: none;
        /*z-index: 10;*/
        /*position: relative;*/
    }

    .menuBtn > svg {
        width: 3.90625vw;
        /*height: 5.55555555556vw;*/
        overflow: visible;
        /*z-index: 10;*/
        height: 100%;
    }

    #btns_sec {
        display: flex;
        /*z-index: 10;*/
    }
}

/*@media only screen and (max-width: 767px) {*/
@media only screen and (max-width: 767px) {
    .menuPortalLanBtn {
        display: none;
    }

    #nav {
        width: 100%;
        padding-bottom: 8.88888888889vw;
    }

    #btns_sec {
        gap: 2vw;
        margin-right: 1vw;
    }

    .menuPortalBtns {
        width: 100%;
        margin-top: 7.77778vw;
    }

    #menu {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-right: 4.5vw;
    }

    .lan_btn {
        width: 10vw;
        height: 7vw;
        display: flex;
        align-items: center;
    }

    .lan_btn > svg {
        width: 100%;
        height: 105%;
    }

    .menuBtn {
        display: block;
        background: none;
        border: none;
    }

    .menuBtn > svg {
        width: 8.33333333333vw;
        height: 5.55555555556vw;
        overflow: visible;
    }

    #div {
        display: flex;
        justify-content: end;
        margin-top: 12vw;
    }

    .a {
        font-size: 3.333333333333vw;
        color: white;
    }
}