.catalogp-heading {
    margin-top: 9vw;
}

.catalogp-sec {
    margin-top: 9.11458333333vw;
}

.catalog_input-wrapper {
    border-radius: 1.5625vw;
    display: flex;
    /*flex-direction: column;*/
    align-items: start;
    aspect-ratio: 14.5/1;
    padding: 0 1.25vw;
    height: 3.125vw;
    /*display: flex;*/
    /*align-items: start;*/
    /*justify-content: start;*/
    /*align-items: start;*/
}

.catalog_input-area {
    display: flex;
    align-items: center;

    /*height: 100%;*/
    width: 100%;
    padding-top: 0.72916666666vw;
    gap: 1.25vw;

    /*justify-content: center;*/
}

.catalog_input-wrapper > svg {
    width: 1.40625vw;
    /*grid-column: 1/2;*/
    /*grid-row: 1/2;*/
}

.catalog_input {
    /*grid-column: 2/3;*/
    /*grid-row: 1/2;*/
    /*background: linear-gradient(179.38deg, rgba(255, 255, 255, 0.2) 0.52%, rgba(153, 153, 153, 0.1) 99.46%);*/
    /*border: 1px solid;*/
    /*border-image-source: radial-gradient(47.56% 47.56% at 50% 50%, #000000 0%, rgba(102, 102, 102, 0) 100%); !* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected *!;*/
    /*border-radius: 1.5625vw;*/
    /*aspect-ratio: 14.5/1;*/
    z-index: 2;
    border: none;
    background: none;
    color: #FFFFFFBF;
    text-align: start;
    width: 100%;
}

.catalog_input::placeholder {
    color: #FFFFFFBF;
}

.catalog_input::selection {
    background-color: #3e456c;
}

.catalog_input:focus {
    outline: none;
}

.catalog-search-items {
    padding-top: 1.61458333333vw;
    padding-left: 1.45833333333vw;
    /*display: none;*/
    width: 8.75vw;
    /* Rectangle 48 */
    /*height: 1055px;*/
    /*left: 75px;*/
    /*top: 1559px;*/

    background: linear-gradient(180deg, rgba(134, 162, 255, 1) 0%, rgba(134, 162, 255, 1) 100%);
    border-radius: 0.83333333333vw;
    font-family: Ablation;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    z-index: 10;
    position: relative;
    margin-top: 1.30208333333vw;
}

.catalog-search-item {
    cursor: pointer;
}

.catalog-search-item:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
}

.catalog_input-wrapper:has(.catalog-search-items:focus-visible) > ul {
    /*display: block;*/
}

/*.catalog-search-items:*/

.catalogp_grid {
    row-gap: 2.8vw;
    margin-top: 6.25vw;
}

.catalogp_item_left {
    grid-column-start: 1;
    grid-column-end: 7;
}

.catalogp_item_padding1 {
    padding-top: 3.69791666667vw;
}

.catalogp_item_padding2 {
    padding-top: 3.4375vw;
}

.catalogp_item_right {
    grid-column-start: 7;
    grid-column-end: 13;
}

.catalogp_item {
    aspect-ratio: 1.22535211268/1;
    /*aspect-ratio: 1.5/1;*/
}

.catalogp_item > a {
    height: 100%;
    width: 100%;
}

.catalogp_item1_img {
    height: 70%;
    margin-top: 3.17708333333vw;
}

.catalogp_item2_img {
    height: 79.5774647887%;
    margin-top: 1.66666666667vw;
}

.catalogp_item3_img {
    height: 73.661971831%;
    margin-top: 2.55208333333vw;
}

.catalog-main-sec {
    margin-top: 4.21875vw;
}

.catalog-sec2 {
    margin-top: 4.42708333333vw;
}

.catalog-sec22 {
    margin-top: 6.25vw;
}

.catalog-sec23 {
    margin-top: 6.97916666667vw;
}

.catalog_main_img1 {
    grid-column-start: 1;
    grid-column-end: 6;
}

.catalog_main_img2 {
    grid-column-start: 1;
    grid-column-end: 7;
    aspect-ratio: 1.08760951189/1;
}

.catalog_main_text1 {
    grid-column-start: 7;
    grid-column-end: 12;
    text-align: unset;
}

.catalog_main_text2 {
    grid-column-start: 8;
    grid-column-end: 13;
    text-align: unset;
}

.catalog_search_input {
    grid-column-start: 1;
    grid-column-end: 7;
}

.catalog-items-sec {
    margin-top: 6.25vw;
}

.catalog_items {
    row-gap: 2.34375vw;
}

.catalog_items > li > div {
    width: 20.7291666667vw;
}

.catalog-item-heading {
    text-align: start;
    margin-bottom: 2.34375vw;
}

.catalog_item1 {
    aspect-ratio: 1.33177570093/1;
    padding-left: 15.0877192982%;
    padding-right: 15.0877192982%;
    padding-top: 8.8785046729%;
}

.catalog_item2, .catalog_item3, .catalog_item4 {
    /*aspect-ratio: 1.22317596567/1;*/
    padding-top: 1.45833333333vw;
    aspect-ratio: 1.22317596567/1;
}

.catalog_item2 .catalog_item2_img {
    width: 14.0625vw;
    margin-top: 1.66666666667vw;
}

.catalog_item3 .catalog_item2_img {
    width: 16.1979166667vw;
}

.catalog_item4 {
    aspect-ratio: 1.22317596567/1;
    cursor: pointer;
}


.catalog_item1, .catalog_item2, .catalog_item3 {
    cursor: pointer;
}

.catalog_item2_img {
    width: 47.3684210526%;
}

.catalog_item2_img2 {
    width: 57.8263157895%;
    margin-top: 2.03125vw;
}

.catalog_item_left {
    grid-column-start: 1;
    grid-column-end: 5;
}

.catalog_item_center {
    grid-column-start: 5;
    grid-column-end: 9;
}

.catalog_item_right {
    grid-column-start: 9;
    grid-column-end: 13;
}

.catalog_gal_heading {
    margin-top: 11.1458333333vw;
    margin-bottom: 2.34375vw;
    text-align: start;
}

.gallery-item {
    cursor: pointer;
}

.catalog_gal_item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.catalog_gal_item2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.catalog_gal_item3 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.catalog_gal_item4 {
    grid-column-start: 7;
    grid-column-end: 9;
}

.catalog_gal_item5 {
    grid-column-start: 9;
    grid-column-end: 11;
}

.catalog_gal_item6 {
    grid-column-start: 11;
    grid-column-end: 13;
}

.catalog-modal-wrapper {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    /*backdrop-filter: blur(50px);*/
    display: flex;
    justify-content: center;
    align-items: start;
    /*filter: blur(10px);*/
    backdrop-filter: blur(35px);
    /*transition: max-height 0.01s 0.3s, opacity 0.3s;*/
    transition: max-height 0.01s 0.3s, opacity 0.3s;
    max-height: 0;
    opacity: 0;
}

.catalog-modal-wrapper-close {
    animation-name: catalog-modal-wrapper-close;
    animation-duration: 0.3s;
}

@keyframes catalog-modal-wrapper-close {
    0% {
        max-height: unset;
        opacity: 1;
    }
    99% {
        max-height: unset;
        opacity: 0;
    }
    100% {
        max-height: 0;
        opacity: 0;
    }

}

.catalog-modal-wrapper-open {
    animation-name: catalog-modal-wrapper-open;
    animation-duration: 0.3s;
    max-height: unset;
    opacity: 1;
    transition: unset;
}

@keyframes catalog-modal-wrapper-open {
    0% {
        max-height: 0;
        opacity: 0;
    }
    1% {
        max-height: unset;
        opacity: 0;
    }
    100% {
        max-height: unset;
        opacity: 1;
    }

}

.catalog-modal {
    position: relative;
    /*background-image: linear-gradient(#ffffff 40%, #999999 20%);*/
    /*background: linear-gradient(180.82deg, #FFFFFF33 0.73%, #99999919 99.31%);*/
    /*background: black;*/
    width: 76.5625vw;
    height: 48.8vw;
    /*height: 100vh;*/
    /*backdrop-filter: blur(50px);*/
    border-radius: 1.5625vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180.82deg, rgba(255, 255, 255, 0.2) 0.73%, rgba(153, 153, 153, 0.1) 99.31%);
    backdrop-filter: blur(50px);
    padding-left: 7.86458333333vw;
    padding-right: 8.33333333333vw;
    padding-top: 3.02083333333vw;
    padding-bottom: 8.80208333333vw;
    /*animation-name: modal;*/
    /*animation-duration: 0.2s;*/
    transition: opacity 0.5s ease 0.2s, transform 0.5s ease;
    background: rgba(45, 54, 81, 0.5);
}

.catalog-modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.catalog-modal-close {
    opacity: 0;
    transform: scale(0.8);
}

.catalog-modal-open {
    opacity: 1;
    transform: scale(1);
}

.catalog-modal-wrapper-table {
    width: 21.3046875vw;
    aspect-ratio: 1/1.17589536731;
}

.catalog-modal-container {
    /*background: #000000;*/
    width: 76.5625vw;
    height: 48.8vw;
    /*height: 100vh;*/
    border-radius: 1.5625vw;
}

.catalog-modal-content {
    display: flex;
    gap: 12.380952381%;
    justify-content: space-between;
    margin-top: 5.98958333333vw;
    width: 60vw;
}

.catalog-modal-content-table-wrapper {
    width: 21.3046875vw;
}

.catalog-modal-sec11 {
    width: 29.5833333333vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.catalog-model-img {
    width: 29.5833333333vw;
}

.catalog-modal-sec21-heading {
    text-align: start;
}

catalog-modal-wrapper-gallery-open {
    align-items: center;
    animation: none;
}

.catalog-modal-wrapper-gallery-open {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    align-items: center;
}

.catalog-modal-wrapper-gallery-open > div {
    height: 90%;
    max-height: 100%;
}

.fullscreen-img {
    height: 100%;
    max-height: 100%;
    max-width: 80vw;
}

@media only screen and (max-width: 1366px) {
    .catalog-modal {
        height: 49.7395833333vw;
    }
}

@media only screen and (max-width: 767px) {
    .catalog_main_img1, .catalog_main_text1, .catalog_main_img2, .catalog_main_text2 {
        grid-column: 1 / 7;
    }

    .catalog_item_left, .catalog_item_right {
        grid-column: 1 / 4;
    }

    .catalog_item_center {
        grid-column: 4 / 7;
    }

    .catalog_items {
        row-gap: 5.83333333333vw;
    }

    .catalog_gal_item1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .catalog_gal_item2 {
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .catalog_gal_item3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .catalog_gal_item4 {
        grid-column-start: 4;
        grid-column-end: 7;
    }

    .catalog_gal_item5 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .catalog_gal_item6 {
        grid-column-start: 4;
        grid-column-end: 7;
    }

}