#block1 {
    margin-top: calc(var(--first_block) * 10.46875);
    height: calc(var(--first_block) * 43.1770833333);
    grid-template-rows: calc(var(--first_block) * 35) calc(var(--first_block) * 12.083333333);
}

#block1::before {
    position: absolute;
    left: 0;
    content: "";
    height: calc(var(--first_block) * 43.1770833333);
    width: 100%;
    background: linear-gradient(180deg, var(--color-gradient-start) 0, var(--color-gradient-end) 100%);
    border-bottom-left-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
}

#block1 > p {
    /*margin-top: 7.91666666667vw;*/
    grid-column-start: 1;
    grid-column-end: -5;
}

#block1 > h1 {
    margin-top: 3.95833333333vw;
    grid-column-start: 1;
    grid-column-end: -5;
}

#video {
    position: absolute;
    z-index: 2;
    max-width: 54vw;
    height: 45vw;
    top: 4.21686746988vw;
    overflow: hidden;
    right: 0;
}

#video > video {
    object-fit: cover;
    transform: translateX(4.81927710843vw);
}

@media only screen and (max-width: 1366px) {
    #block1 {
        row-gap: calc(var(--first_block) * 7.68229166667);
        height: calc(var(--first_block) * 69.5);
        grid-template-rows: auto auto;
    }

    #block1 > h1 {
        grid-column-start: 1;
        grid-column-end: -4;
        margin-top: calc(var(--first_block) * 5.4165220721);
    }

    #block1 > p {
        height: calc(var(--first_block) * 10.546875);
    }

    #block1::before {
        height: calc(var(--first_block) * 69.5);
    }

}

@media only screen and (max-width: 767px) {
    #block1 {
        margin-top: 0;
        grid-template-rows: calc(var(--first_block) * 20) calc(var(--first_block) * 46) calc(var(--first_block) * 14);
        height: auto;
        row-gap: unset;
    }

    #block1 > h1 {
        grid-column-end: 7;
        width: 88.8888888889vw;
        margin-top: calc(var(--first_block) * 10);
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #block1::before {
        height: calc(var(--first_block) * 47.3385);
        margin-top: calc(var(--first_block) * 32.8);
    }

    #block1 > p {
        grid-column-start: 2;
        grid-column-end: 6;
        text-align: center;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #video {
        position: relative;
        z-index: 2;
        display: flex;
        /*top: 57.21686746988vw;*/
        max-width: 100%;
        width: 100%;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 100%;
        justify-self: center;
    }

    #video > video {
        transform: unset;
        height: 100%;
        object-fit: cover;
        /*position: absolute;*/
        /*left: -5vw;*/
        /*top: -10vw;*/
    }

    #block1 > p {
        display: flex;
        align-items: end;
        height: 100%;
        padding-bottom: calc(var(--first_block) * 2);
    }
}